revolution_fitness_make_blueprint.json
{
    "name": "Revolution Fitness - WhatsApp AI Automation",
    "flow": [
        {
            "id": 1,
            "module": "whatsapp-business-cloud:watchEvents2",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2626388
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -279,
                    "y": 319
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My WhatsApp Business Cloud Events webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:whatsapp-business-cloud",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "WhatsApp Business Account ID"
                    },
                    {
                        "name": "time",
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "field",
                        "type": "text",
                        "label": "Field"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "spec": [
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "body",
                                            "type": "text",
                                            "label": "Body"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "audio",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        },
                                        {
                                            "name": "voice",
                                            "type": "boolean",
                                            "label": "Voice"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Audio"
                                },
                                {
                                    "name": "video",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Video"
                                },
                                {
                                    "name": "document",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File Name"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Document"
                                },
                                {
                                    "name": "contacts",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "spec": [
                                                    {
                                                        "name": "formatted_name",
                                                        "type": "text",
                                                        "label": "Formatted Name"
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "middle_name",
                                                        "type": "text",
                                                        "label": "Middle Name"
                                                    },
                                                    {
                                                        "name": "suffix",
                                                        "type": "text",
                                                        "label": "Name Suffix"
                                                    },
                                                    {
                                                        "name": "prefix",
                                                        "type": "text",
                                                        "label": "Name Prefix"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phones",
                                                "spec": [
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Phones"
                                            },
                                            {
                                                "name": "emails",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Emails"
                                            },
                                            {
                                                "name": "org",
                                                "spec": [
                                                    {
                                                        "name": "company",
                                                        "type": "text",
                                                        "label": "Company"
                                                    },
                                                    {
                                                        "name": "department",
                                                        "type": "text",
                                                        "label": "Department"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Organization"
                                            },
                                            {
                                                "name": "urls",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "URLs"
                                            },
                                            {
                                                "name": "addresses",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "street",
                                                        "type": "text",
                                                        "label": "Street"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "country_code",
                                                        "type": "text",
                                                        "label": "Country Code"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Addresses"
                                            },
                                            {
                                                "name": "birthday",
                                                "type": "text",
                                                "label": "Birthday"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Contacts"
                                },
                                {
                                    "name": "sticker",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sticker"
                                },
                                {
                                    "name": "location",
                                    "spec": [
                                        {
                                            "name": "latitude",
                                            "type": "number",
                                            "label": "Latitude"
                                        },
                                        {
                                            "name": "longitude",
                                            "type": "number",
                                            "label": "Longitude"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Location"
                                },
                                {
                                    "name": "context",
                                    "spec": [
                                        {
                                            "name": "from",
                                            "type": "text",
                                            "label": "From"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Context ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Context"
                                },
                                {
                                    "name": "button",
                                    "spec": [
                                        {
                                            "name": "payload",
                                            "type": "text",
                                            "label": "Payload"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Button"
                                },
                                {
                                    "name": "interactive",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "list_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "List Reply"
                                        },
                                        {
                                            "name": "button_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Button Reply"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Interactive"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Messages"
                    },
                    {
                        "name": "messaging_product",
                        "type": "text",
                        "label": "Messaging Product"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "display_phone_number",
                                "type": "text",
                                "label": "Display Phone Number"
                            },
                            {
                                "name": "phone_number_id",
                                "type": "text",
                                "label": "Phone Number ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "contacts",
                        "spec": {
                            "spec": [
                                {
                                    "name": "profile",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Profile"
                                },
                                {
                                    "name": "wa_id",
                                    "type": "text",
                                    "label": "WhatsApp ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "statuses",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "status",
                                    "type": "text",
                                    "label": "Status"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "recipient_id",
                                    "type": "text",
                                    "label": "Recipient ID"
                                },
                                {
                                    "name": "conversation",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Conversation ID"
                                        },
                                        {
                                            "name": "expiration_timestamp",
                                            "type": "date",
                                            "label": "Expiration Timestamp"
                                        },
                                        {
                                            "name": "origin",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Origin"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Conversation"
                                },
                                {
                                    "name": "pricing",
                                    "spec": [
                                        {
                                            "name": "billable",
                                            "type": "boolean",
                                            "label": "Billable"
                                        },
                                        {
                                            "name": "pricing_model",
                                            "type": "text",
                                            "label": "Pricing Model"
                                        },
                                        {
                                            "name": "category",
                                            "type": "text",
                                            "label": "Category"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Pricing"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Statuses"
                    },
                    {
                        "name": "message_template_id",
                        "type": "number",
                        "label": "Message Template ID"
                    },
                    {
                        "name": "message_template_name",
                        "type": "text",
                        "label": "Message Template Name"
                    },
                    {
                        "name": "message_template_language",
                        "type": "text",
                        "label": "Message Template Language"
                    },
                    {
                        "name": "reason",
                        "type": "text",
                        "label": "Reason"
                    },
                    {
                        "name": "phone_number",
                        "type": "text",
                        "label": "Phone Number"
                    },
                    {
                        "name": "max_daily_conversation_per_phone",
                        "type": "number",
                        "label": "Max Daily Conversation Per Phone"
                    },
                    {
                        "name": "max_phone_numbers_per_business",
                        "type": "number",
                        "label": "Max Phone Numbers Per Business"
                    },
                    {
                        "name": "decision",
                        "type": "text",
                        "label": "Decision"
                    },
                    {
                        "name": "requested_verified_name",
                        "type": "text",
                        "label": "Requested Verified Name"
                    },
                    {
                        "name": "rejection_reason",
                        "type": "text",
                        "label": "Rejection Reason"
                    },
                    {
                        "name": "display_phone_number",
                        "type": "text",
                        "label": "Display Phone Number"
                    },
                    {
                        "name": "event",
                        "type": "text",
                        "label": "Event"
                    },
                    {
                        "name": "current_limit",
                        "type": "text",
                        "label": "Current Limit"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5790788
            },
            "mapper": {
                "from": "share",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{1.messages[].from}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "orderBy": "__ROW_NUMBER__",
                "sheetId": "Sheet1",
                "fieldType": "string",
                "sortOrder": "asc",
                "spreadsheetId": "139H6W_XuobnorqsCE9RxUFu7b8kz4ApAR2AKXv6ssPQ",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -10,
                    "y": 315
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from all"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Row number"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "fieldType": {
                            "mode": "chose",
                            "label": "String"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "rpcSearch": {
                                "label": "Untitled spreadsheet",
                                "value": "139H6W_XuobnorqsCE9RxUFu7b8kz4ApAR2AKXv6ssPQ"
                            }
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (pronikofficial@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "phone_number (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "customer_name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "fitness_goal\t (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "first_contact\t (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "last_contact\t (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "status (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5803463
            },
            "mapper": {
                "model": "llama-3.3-70b-versatile",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are the official AI concierge for **Revolution Fitness 0044**, the premier gym in Kidwai Nagar, Kanpur.\r\n## Gym Details\r\n- **Owner:** Ankur Gupta\r\n- **Location:** Kidwai Nagar, Kanpur, Uttar Pradesh\r\n- **Unique Features:**\r\n  - Own in-house Supplement Store (Whey Protein, BCAAs, Pre-Workouts, and more)\r\n  - Cloud Kitchen serving high-protein, macro-friendly meals\r\n  - Fully imported, commercial-grade equipment from top international brands\r\n  - AC-enabled, spacious training floor\r\n  - Expert certified personal trainers\r\n## Your Behaviour Rules\r\n1. Always greet warmly in a friendly, motivational tone. Use Hindi-English mix (Hinglish) when the user writes in Hindi.\r\n2. Your PRIMARY GOAL in every conversation is to:\r\n   (a) Collect the customer's **Name** and **Fitness Goal** (weight loss, muscle gain, general fitness, etc.).\r\n   (b) Offer them a **FREE Trial Session** at the gym.\r\n3. If the customer asks about pricing or membership plans, tell them you can share the official price chart and ask if they'd like to receive it.\r\n4. Never invent prices. If asked for specific prices, say: \"Main aapko hamara official price chart bhej deta hoon, usme sab detail mein hai!\"\r\n5. Keep responses concise (under 150 words), friendly, and action-oriented.\r\n6. If the customer shares their name and goal, confirm it back and enthusiastically invite them for the free trial.\r\n7. Always end with a clear call-to-action (visit for trial, share the price chart, or ask another question).\r\n8. Do NOT discuss competitor gyms. Stay focused on Revolution Fitness.\r\n9. If someone asks who the owner is, proudly mention Ankur Gupta.\r\n10. Sign off messages with: — *Team Revolution Fitness 💪*\r\n## Context from Database\r\nExisting Customer Data (from Google Sheets lookup): {{2.`1`}}\r\n{{2.`2`}} {{2.`5`}} If this  is empty,  treat the sender as a NEW lead."
                    },
                    {
                        "role": "user",
                        "content": "{{1.messages[].text.body}}"
                    }
                ],
                "max_tokens": "500",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 253,
                    "y": 321
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.3-70b-versatile"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            },
                            "label": "My Groq connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5803463
            },
            "mapper": {
                "model": "llama-3.1-8b-instant",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a data extractor for a gym. Analyze the conversation provided by the user. \r\nExtract the personal details and return ONLY a raw, valid JSON object with absolutely no markdown formatting, no backticks, and no conversational text.\r\n\r\nThe JSON MUST look exactly like this structure:\r\n{\r\n  \"customer_name\": \"John Doe\",\r\n  \"fitness_goal\": \"weight loss\",\r\n  \"price_chart_requested\": true\r\n}\r\n\r\nRules:\r\n- If the name is unknown, use null.\r\n- If the goal is unknown, use null.\r\n- \"price_chart_requested\" must be a boolean (true or false). It is true if they ask about prices, fees, or membership costs.\r\n​"
                    },
                    {
                        "role": "user",
                        "content": "Customer Message: {{1.messages[].text.body}}\r\nAI Reply: {{12.result}}"
                    }
                ],
                "max_tokens": "200",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 536,
                    "y": 323
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.1-8b-instant"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            },
                            "label": "My Groq connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 333700
            },
            "mapper": {
                "json": "{{17.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 879,
                    "y": 322
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "customer_name",
                        "type": "text",
                        "label": "Customer name",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "fitness_goal",
                        "type": "text",
                        "label": "Fitness goal",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "price_chart_requested",
                        "type": "boolean",
                        "label": "Price chart requested",
                        "required": false
                    }
                ]
            },
            "onerror": [
                {
                    "id": 27,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "filter": {
                        "name": "Catch all",
                        "conditions": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 1129,
                            "y": 557
                        }
                    }
                }
            ]
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {},
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1150,
                    "y": 170
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5802475
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "text": {
                                    "body": "{{12.result}}",
                                    "preview_url": false
                                },
                                "type": "text",
                                "fromId": "955464644327649"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "text": {
                                            "nested": {
                                                "preview_url": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "type": {
                                            "label": "Text"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Pronik (+91 90022 78189)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud"
                                            },
                                            "label": "My WhatsApp Business Cloud connection (Pronik (4289173924653510))"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud,whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "body",
                                                "type": "text",
                                                "label": "Body",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            },
                                            {
                                                "name": "preview_url",
                                                "type": "boolean",
                                                "label": "Preview URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "body",
                                                "type": "text",
                                                "label": "Body",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            },
                                            {
                                                "name": "preview_url",
                                                "type": "boolean",
                                                "label": "Preview URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 28,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": -150
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5790788
                            },
                            "filter": {
                                "name": "Existing Contact (Row Found)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "values": {
                                    "0": "{{1.contacts[].wa_id}}",
                                    "1": "{{19.customer_name}}",
                                    "2": "{{19.fitness_goal}}",
                                    "4": "{{now}}",
                                    "5": "Active Lead"
                                },
                                "sheetId": "{{2.`__SHEET__`}}",
                                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "{{2.`__SPREADSHEET_ID__`}}",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "edit"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "label": "No",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "AA"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "AB"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "AC"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "AD"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "AE"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "AF"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "AG"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "AH"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "AI"
                                                        },
                                                        {
                                                            "name": "35",
                                                            "type": "text",
                                                            "label": "AJ"
                                                        },
                                                        {
                                                            "name": "36",
                                                            "type": "text",
                                                            "label": "AK"
                                                        },
                                                        {
                                                            "name": "37",
                                                            "type": "text",
                                                            "label": "AL"
                                                        },
                                                        {
                                                            "name": "38",
                                                            "type": "text",
                                                            "label": "AM"
                                                        },
                                                        {
                                                            "name": "39",
                                                            "type": "text",
                                                            "label": "AN"
                                                        },
                                                        {
                                                            "name": "40",
                                                            "type": "text",
                                                            "label": "AO"
                                                        },
                                                        {
                                                            "name": "41",
                                                            "type": "text",
                                                            "label": "AP"
                                                        },
                                                        {
                                                            "name": "42",
                                                            "type": "text",
                                                            "label": "AQ"
                                                        },
                                                        {
                                                            "name": "43",
                                                            "type": "text",
                                                            "label": "AR"
                                                        },
                                                        {
                                                            "name": "44",
                                                            "type": "text",
                                                            "label": "AS"
                                                        },
                                                        {
                                                            "name": "45",
                                                            "type": "text",
                                                            "label": "AT"
                                                        },
                                                        {
                                                            "name": "46",
                                                            "type": "text",
                                                            "label": "AU"
                                                        },
                                                        {
                                                            "name": "47",
                                                            "type": "text",
                                                            "label": "AV"
                                                        },
                                                        {
                                                            "name": "48",
                                                            "type": "text",
                                                            "label": "AW"
                                                        },
                                                        {
                                                            "name": "49",
                                                            "type": "text",
                                                            "label": "AX"
                                                        },
                                                        {
                                                            "name": "50",
                                                            "type": "text",
                                                            "label": "AY"
                                                        },
                                                        {
                                                            "name": "51",
                                                            "type": "text",
                                                            "label": "AZ"
                                                        },
                                                        {
                                                            "name": "52",
                                                            "type": "text",
                                                            "label": "BA"
                                                        },
                                                        {
                                                            "name": "53",
                                                            "type": "text",
                                                            "label": "BB"
                                                        },
                                                        {
                                                            "name": "54",
                                                            "type": "text",
                                                            "label": "BC"
                                                        },
                                                        {
                                                            "name": "55",
                                                            "type": "text",
                                                            "label": "BD"
                                                        },
                                                        {
                                                            "name": "56",
                                                            "type": "text",
                                                            "label": "BE"
                                                        },
                                                        {
                                                            "name": "57",
                                                            "type": "text",
                                                            "label": "BF"
                                                        },
                                                        {
                                                            "name": "58",
                                                            "type": "text",
                                                            "label": "BG"
                                                        },
                                                        {
                                                            "name": "59",
                                                            "type": "text",
                                                            "label": "BH"
                                                        },
                                                        {
                                                            "name": "60",
                                                            "type": "text",
                                                            "label": "BI"
                                                        },
                                                        {
                                                            "name": "61",
                                                            "type": "text",
                                                            "label": "BJ"
                                                        },
                                                        {
                                                            "name": "62",
                                                            "type": "text",
                                                            "label": "BK"
                                                        },
                                                        {
                                                            "name": "63",
                                                            "type": "text",
                                                            "label": "BL"
                                                        },
                                                        {
                                                            "name": "64",
                                                            "type": "text",
                                                            "label": "BM"
                                                        },
                                                        {
                                                            "name": "65",
                                                            "type": "text",
                                                            "label": "BN"
                                                        },
                                                        {
                                                            "name": "66",
                                                            "type": "text",
                                                            "label": "BO"
                                                        },
                                                        {
                                                            "name": "67",
                                                            "type": "text",
                                                            "label": "BP"
                                                        },
                                                        {
                                                            "name": "68",
                                                            "type": "text",
                                                            "label": "BQ"
                                                        },
                                                        {
                                                            "name": "69",
                                                            "type": "text",
                                                            "label": "BR"
                                                        },
                                                        {
                                                            "name": "70",
                                                            "type": "text",
                                                            "label": "BS"
                                                        },
                                                        {
                                                            "name": "71",
                                                            "type": "text",
                                                            "label": "BT"
                                                        },
                                                        {
                                                            "name": "72",
                                                            "type": "text",
                                                            "label": "BU"
                                                        },
                                                        {
                                                            "name": "73",
                                                            "type": "text",
                                                            "label": "BV"
                                                        },
                                                        {
                                                            "name": "74",
                                                            "type": "text",
                                                            "label": "BW"
                                                        },
                                                        {
                                                            "name": "75",
                                                            "type": "text",
                                                            "label": "BX"
                                                        },
                                                        {
                                                            "name": "76",
                                                            "type": "text",
                                                            "label": "BY"
                                                        },
                                                        {
                                                            "name": "77",
                                                            "type": "text",
                                                            "label": "BZ"
                                                        },
                                                        {
                                                            "name": "78",
                                                            "type": "text",
                                                            "label": "CA"
                                                        },
                                                        {
                                                            "name": "79",
                                                            "type": "text",
                                                            "label": "CB"
                                                        },
                                                        {
                                                            "name": "80",
                                                            "type": "text",
                                                            "label": "CC"
                                                        },
                                                        {
                                                            "name": "81",
                                                            "type": "text",
                                                            "label": "CD"
                                                        },
                                                        {
                                                            "name": "82",
                                                            "type": "text",
                                                            "label": "CE"
                                                        },
                                                        {
                                                            "name": "83",
                                                            "type": "text",
                                                            "label": "CF"
                                                        },
                                                        {
                                                            "name": "84",
                                                            "type": "text",
                                                            "label": "CG"
                                                        },
                                                        {
                                                            "name": "85",
                                                            "type": "text",
                                                            "label": "CH"
                                                        },
                                                        {
                                                            "name": "86",
                                                            "type": "text",
                                                            "label": "CI"
                                                        },
                                                        {
                                                            "name": "87",
                                                            "type": "text",
                                                            "label": "CJ"
                                                        },
                                                        {
                                                            "name": "88",
                                                            "type": "text",
                                                            "label": "CK"
                                                        },
                                                        {
                                                            "name": "89",
                                                            "type": "text",
                                                            "label": "CL"
                                                        },
                                                        {
                                                            "name": "90",
                                                            "type": "text",
                                                            "label": "CM"
                                                        },
                                                        {
                                                            "name": "91",
                                                            "type": "text",
                                                            "label": "CN"
                                                        },
                                                        {
                                                            "name": "92",
                                                            "type": "text",
                                                            "label": "CO"
                                                        },
                                                        {
                                                            "name": "93",
                                                            "type": "text",
                                                            "label": "CP"
                                                        },
                                                        {
                                                            "name": "94",
                                                            "type": "text",
                                                            "label": "CQ"
                                                        },
                                                        {
                                                            "name": "95",
                                                            "type": "text",
                                                            "label": "CR"
                                                        },
                                                        {
                                                            "name": "96",
                                                            "type": "text",
                                                            "label": "CS"
                                                        },
                                                        {
                                                            "name": "97",
                                                            "type": "text",
                                                            "label": "CT"
                                                        },
                                                        {
                                                            "name": "98",
                                                            "type": "text",
                                                            "label": "CU"
                                                        },
                                                        {
                                                            "name": "99",
                                                            "type": "text",
                                                            "label": "CV"
                                                        },
                                                        {
                                                            "name": "100",
                                                            "type": "text",
                                                            "label": "CW"
                                                        },
                                                        {
                                                            "name": "101",
                                                            "type": "text",
                                                            "label": "CX"
                                                        },
                                                        {
                                                            "name": "102",
                                                            "type": "text",
                                                            "label": "CY"
                                                        },
                                                        {
                                                            "name": "103",
                                                            "type": "text",
                                                            "label": "CZ"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values in columns"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (pronikofficial@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "AA"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "AB"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "AC"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "AD"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "AE"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "AF"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "AG"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "AH"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "AI"
                                            },
                                            {
                                                "name": "35",
                                                "type": "text",
                                                "label": "AJ"
                                            },
                                            {
                                                "name": "36",
                                                "type": "text",
                                                "label": "AK"
                                            },
                                            {
                                                "name": "37",
                                                "type": "text",
                                                "label": "AL"
                                            },
                                            {
                                                "name": "38",
                                                "type": "text",
                                                "label": "AM"
                                            },
                                            {
                                                "name": "39",
                                                "type": "text",
                                                "label": "AN"
                                            },
                                            {
                                                "name": "40",
                                                "type": "text",
                                                "label": "AO"
                                            },
                                            {
                                                "name": "41",
                                                "type": "text",
                                                "label": "AP"
                                            },
                                            {
                                                "name": "42",
                                                "type": "text",
                                                "label": "AQ"
                                            },
                                            {
                                                "name": "43",
                                                "type": "text",
                                                "label": "AR"
                                            },
                                            {
                                                "name": "44",
                                                "type": "text",
                                                "label": "AS"
                                            },
                                            {
                                                "name": "45",
                                                "type": "text",
                                                "label": "AT"
                                            },
                                            {
                                                "name": "46",
                                                "type": "text",
                                                "label": "AU"
                                            },
                                            {
                                                "name": "47",
                                                "type": "text",
                                                "label": "AV"
                                            },
                                            {
                                                "name": "48",
                                                "type": "text",
                                                "label": "AW"
                                            },
                                            {
                                                "name": "49",
                                                "type": "text",
                                                "label": "AX"
                                            },
                                            {
                                                "name": "50",
                                                "type": "text",
                                                "label": "AY"
                                            },
                                            {
                                                "name": "51",
                                                "type": "text",
                                                "label": "AZ"
                                            },
                                            {
                                                "name": "52",
                                                "type": "text",
                                                "label": "BA"
                                            },
                                            {
                                                "name": "53",
                                                "type": "text",
                                                "label": "BB"
                                            },
                                            {
                                                "name": "54",
                                                "type": "text",
                                                "label": "BC"
                                            },
                                            {
                                                "name": "55",
                                                "type": "text",
                                                "label": "BD"
                                            },
                                            {
                                                "name": "56",
                                                "type": "text",
                                                "label": "BE"
                                            },
                                            {
                                                "name": "57",
                                                "type": "text",
                                                "label": "BF"
                                            },
                                            {
                                                "name": "58",
                                                "type": "text",
                                                "label": "BG"
                                            },
                                            {
                                                "name": "59",
                                                "type": "text",
                                                "label": "BH"
                                            },
                                            {
                                                "name": "60",
                                                "type": "text",
                                                "label": "BI"
                                            },
                                            {
                                                "name": "61",
                                                "type": "text",
                                                "label": "BJ"
                                            },
                                            {
                                                "name": "62",
                                                "type": "text",
                                                "label": "BK"
                                            },
                                            {
                                                "name": "63",
                                                "type": "text",
                                                "label": "BL"
                                            },
                                            {
                                                "name": "64",
                                                "type": "text",
                                                "label": "BM"
                                            },
                                            {
                                                "name": "65",
                                                "type": "text",
                                                "label": "BN"
                                            },
                                            {
                                                "name": "66",
                                                "type": "text",
                                                "label": "BO"
                                            },
                                            {
                                                "name": "67",
                                                "type": "text",
                                                "label": "BP"
                                            },
                                            {
                                                "name": "68",
                                                "type": "text",
                                                "label": "BQ"
                                            },
                                            {
                                                "name": "69",
                                                "type": "text",
                                                "label": "BR"
                                            },
                                            {
                                                "name": "70",
                                                "type": "text",
                                                "label": "BS"
                                            },
                                            {
                                                "name": "71",
                                                "type": "text",
                                                "label": "BT"
                                            },
                                            {
                                                "name": "72",
                                                "type": "text",
                                                "label": "BU"
                                            },
                                            {
                                                "name": "73",
                                                "type": "text",
                                                "label": "BV"
                                            },
                                            {
                                                "name": "74",
                                                "type": "text",
                                                "label": "BW"
                                            },
                                            {
                                                "name": "75",
                                                "type": "text",
                                                "label": "BX"
                                            },
                                            {
                                                "name": "76",
                                                "type": "text",
                                                "label": "BY"
                                            },
                                            {
                                                "name": "77",
                                                "type": "text",
                                                "label": "BZ"
                                            },
                                            {
                                                "name": "78",
                                                "type": "text",
                                                "label": "CA"
                                            },
                                            {
                                                "name": "79",
                                                "type": "text",
                                                "label": "CB"
                                            },
                                            {
                                                "name": "80",
                                                "type": "text",
                                                "label": "CC"
                                            },
                                            {
                                                "name": "81",
                                                "type": "text",
                                                "label": "CD"
                                            },
                                            {
                                                "name": "82",
                                                "type": "text",
                                                "label": "CE"
                                            },
                                            {
                                                "name": "83",
                                                "type": "text",
                                                "label": "CF"
                                            },
                                            {
                                                "name": "84",
                                                "type": "text",
                                                "label": "CG"
                                            },
                                            {
                                                "name": "85",
                                                "type": "text",
                                                "label": "CH"
                                            },
                                            {
                                                "name": "86",
                                                "type": "text",
                                                "label": "CI"
                                            },
                                            {
                                                "name": "87",
                                                "type": "text",
                                                "label": "CJ"
                                            },
                                            {
                                                "name": "88",
                                                "type": "text",
                                                "label": "CK"
                                            },
                                            {
                                                "name": "89",
                                                "type": "text",
                                                "label": "CL"
                                            },
                                            {
                                                "name": "90",
                                                "type": "text",
                                                "label": "CM"
                                            },
                                            {
                                                "name": "91",
                                                "type": "text",
                                                "label": "CN"
                                            },
                                            {
                                                "name": "92",
                                                "type": "text",
                                                "label": "CO"
                                            },
                                            {
                                                "name": "93",
                                                "type": "text",
                                                "label": "CP"
                                            },
                                            {
                                                "name": "94",
                                                "type": "text",
                                                "label": "CQ"
                                            },
                                            {
                                                "name": "95",
                                                "type": "text",
                                                "label": "CR"
                                            },
                                            {
                                                "name": "96",
                                                "type": "text",
                                                "label": "CS"
                                            },
                                            {
                                                "name": "97",
                                                "type": "text",
                                                "label": "CT"
                                            },
                                            {
                                                "name": "98",
                                                "type": "text",
                                                "label": "CU"
                                            },
                                            {
                                                "name": "99",
                                                "type": "text",
                                                "label": "CV"
                                            },
                                            {
                                                "name": "100",
                                                "type": "text",
                                                "label": "CW"
                                            },
                                            {
                                                "name": "101",
                                                "type": "text",
                                                "label": "CX"
                                            },
                                            {
                                                "name": "102",
                                                "type": "text",
                                                "label": "CY"
                                            },
                                            {
                                                "name": "103",
                                                "type": "text",
                                                "label": "CZ"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5802475
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{19.price_chart_requested}}",
                                            "b": "True",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "type": "document",
                                "fromId": "955464644327649",
                                "document": {
                                    "link": "https://drive.google.com/file/d/1Xz6-z7mV_GiYA9TaBxp2SVYAce9dSHVD/view?usp=sharing",
                                    "caption": "📋 Here is the official Revolution Fitness Price Chart! Feel free to reach out if you have any questions. 💪",
                                    "filename": "Revolution_Fitness_Price_Chart.pdf"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 450
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Document"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Pronik (+91 90022 78189)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud"
                                            },
                                            "label": "My WhatsApp Business Cloud connection (Pronik (4289173924653510))"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud,whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Media ID"
                                            },
                                            {
                                                "name": "link",
                                                "type": "url",
                                                "label": "Media URL"
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "text",
                                                "label": "File Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Document"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 29,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": 450
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 26,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5790788
                            },
                            "filter": {
                                "name": "new lead",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.contacts[].wa_id}}",
                                    "1": "{{19.customer_name}}",
                                    "2": "{{19.fitness_goal}}",
                                    "3": "{{now}}",
                                    "4": "{{now}}",
                                    "5": "Active Lead"
                                },
                                "sheetId": "Sheet1",
                                "spreadsheetId": "/139H6W_XuobnorqsCE9RxUFu7b8kz4ApAR2AKXv6ssPQ",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 750
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Untitled spreadsheet"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "useColumnHeaders": {
                                            "label": "No",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "phone_number (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "customer_name (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "fitness_goal\t (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "first_contact\t (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "last_contact\t (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "status (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values in columns",
                                                    "metadata": [
                                                        [
                                                            [
                                                                "phone_number",
                                                                "customer_name",
                                                                "fitness_goal\t",
                                                                "first_contact\t",
                                                                "last_contact\t",
                                                                "status"
                                                            ]
                                                        ]
                                                    ]
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (pronikofficial@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "phone_number (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "customer_name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "fitness_goal\t (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "first_contact\t (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "last_contact\t (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "status (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "phone_number",
                                                    "customer_name",
                                                    "fitness_goal\t",
                                                    "first_contact\t",
                                                    "last_contact\t",
                                                    "status"
                                                ]
                                            ]
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}